[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pymongo = "*"
scrapy = "*"
selenium = "*"
scrapy-splash = "*"
scrapy-selenium = "*"
dnspython = "*"

[requires]
python_version = "3.7"
