[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pymongo = "*"
scrapy = "*"
selenium = "*"
scrapy-splash = "*"
scrapy-selenium = "*"
dnspython = "*"
scrapyd = "*"
scrapyd-client = {git = "https://github.com/scrapy/scrapyd-client.git"}
herokuify-scrapyd = "*"

[requires]
python_version = "3.7"
